<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="foot">
<div class="conten">
    <div class="roww">
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Affiliate</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Get Help</h4>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Orders</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Testimonial</a></li>
                <li><a href="">Payment</a></li>
            </ul>
        </div><div class="footer-col">
            <h4>Online Services</h4>
            <ul>
                <li><a href="">Web Design</a></li>
                <li><a href="">Ecommerce</a></li>
                <li><a href="">Web develop</a></li>
                <li><a href="">Graphic designing</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow us</h4>
          <div class="socials">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab linkedin-in"></i></a>
          </div>
        </div>
    </div>
</div>
    </footer>
</body>
</html>
