<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <%- include('partials/navbar') %>
</head>
<body>
    

    <div class="whatsapp-number">
        <a href="https://api.whatsapp.com/send?phone=+123456789" target="_blank">
          <span>WhatsApp &nbsp; Us &nbsp; +123456789</span>
        
        </a>
      </div>

        <div class="box">
           <img class="bird" src="/static\images\1663288.gif" alt="">
            <h1 class="anim" id="heading">An award-winning Web Design</h1>
             <h1 class="heading anim"><span>Malaysia Agency.</span></h1>
     
       
       <p class="anim">Web Ninja Studio® is an creative branding, development and web design Malaysia agency, specially in KL & Selangor. We specialize in creating amazing websites that converts clicks into leads, and digital experiences across the globe.
       </p>
       
       <button class="anim ">View Portfolio</button> 

   
   <img class="image anim" src="/static\images\vecteezy_3d-cute-kid-pointing-hand-to-the-side_34618168.png" alt="">


<div id="slider" class="slider">
    <img class="slide" id="slide1" src="https://www.shutterstock.com/shutterstock/photos/2136788117/display_1500/stock-photo-late-at-night-in-private-office-male-businessman-works-on-a-laptop-computer-he-look-at-the-camera-2136788117.jpg" alt="">
    <img class="slide" id="slide2" src="https://image.cnbcfm.com/api/v1/image/104028568-104343446.jpg?v=1573141568&w=929&h=523&vtcrop=y" alt="">
    <img class="slide" id="slide3" src="https://eu-images.contentstack.com/v3/assets/blt69509c9116440be8/blt7ad9b6ac279d2c05/64bf4c28d6979f2189f7b04a/womenintech-Ammentorp_Photography-alamy.jpg?width=850&auto=webp&quality=95&format=jpg&disable=upscale" alt="">
</div>
</div> 
<div id="blog">
    <h1>High quality Malaysia web design services that <br> can support all of your website needs.</h1>
    <p>Our experienced designers not only offering you a noteworthy appearance and high-level features for your website, but also strategize the most efficient way to bridge the gap between your business’s goals and your user’s.
        </p>

        <div class="imagge">
<img class="image1" src="https://img.freepik.com/free-vector/set-people-using-modern-technologies_74855-1744.jpg" alt=""></div>
<!-- <div class="imageee">
        <img class="image2" src="https://img.freepik.com/free-vector/people-with-technology-devices_52683-34717.jpg" alt="">
    </div></div> -->
</div>
<div class="blogs">
    <div class="row">
        <div class="imgWrap">
            <img src="https://reallygooddesigns.com/wp-content/uploads/2022/01/Cartoon-People-Talking-in-Therapy-Group-Free-Vector.jpg" alt="">
        </div>
        <div class="contentWrap">
            <div class="content">
               
                    <h1>What other services does our website design company & digital agency offer? </h1>
                
                <p>In addition to our core services in <a href="">web design</a>,<a href=""> eCommerce website development</a>, <a href="">branding & design</a>, and <a href="">logo design</a>, we also offer digital marketing service such as <a href="">SEO</a>. Additionally, we provide <a href="">website maintenance</a>, <a href="">wordPress web hosting</a>,as well as photography and videography services.</p> 
           
         <div class="button">  <a href="">View All Services</a>
       
         </div>
        </div>
        </div> </div>

        <div class="blug">
            <div class="rowi">
                <div class="imgWrapp">
                    <img src="https://www.webninja.com.my/wp-content/uploads/web-design-agency-malaysia-1.jpg" alt="">
                </div>
                <div class="contentWrapp">
                    <div class="content">
                       
                            <h1>There are many reasons why a business or individual may choose to work with us. Some of the key benefits include</h1>
                        
                        <p>We create beautiful and bespoke websites for your business and crafting attractive designs that immediately grab a visitor’s attention. The web sites are beautifully designed with SEO friendly, speed optimized and protected with firewall security features.</p> 
                   
                 <div class="buttonn">  <a href="">Check Prices</a>
               
                 </div>
                </div>
                </div> </div> 
                <div class="main">
 <div class="card-container">
    <h1 >Our featured web design portfolio.</h1>
    <p id="head">We’ve created cool stuff, check a few! View more <a href="">portfolio</a> here.</p>
   
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-mwsolarbn-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-youmee-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-eastern-pretech-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-dpac-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-whitesand-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-bseplantations-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-sddentalcleveland-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
   
    <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-zarzoubeauty-mwa-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
   <div class="card">
        <img src="https://www.webninja.com.my/wp-content/uploads/cover-sans-sans-1-768x960.jpg" alt="">
        <div class="card-content">
            <h2>Youmee</h2>
            <p>Ecommerce, featured</p>
        </div>
    </div>
    <div class="whatsapp-icon">
        <a href="https://api.whatsapp.com/send?phone=+923063115345" target="_blank">
          <img src="/static\images\whatsapp-icon-seeklogo.png" alt="WhatsApp">
        </a>
      </div>
   
 </div>
   


    
    <div class="feet"></div>
    <footer>
        <div id="container">
            <img id="im1" src="https://media.istockphoto.com/id/113145561/photo/green-field-lined-by-trees-on-clear-day.jpg?s=612x612&w=0&k=20&c=b0Z71CqVgnHef-opS0gi5CuT4SM_btge8eoLKmEHE4I=" alt="Background Image">
            <img id="im2" src="/static\images\pngegg.png" alt="Overlay Image" class="overlay">
        
          
        </div> 
        
       
        <div class="container">
            <div class="row">
                

                <div class="col" id="services">
                    <h3>Services</h3>
                    <div class="links">
                        <a href="">Web Design</a>
                        <a href="">Ecommerce</a>
                        <a href="">Branding</a>
                        <a href="">Logo design</a>
                    </div>
                </div>

                <div class="col" id="links">
                    <h3>Links</h3>
                    <div class="link">
                        <a href="">About</a>
                        <a href="">Services</a>
                        <a href="">Our Policy</a>
                        <a href="">Help</a>
                    </div>
                </div>
                <!-- <div class="col" id="contact">
                    <h3>Contact</h3>
                    <div class="contact-details"> <p>FF-42,Procude Avenue,KL, Malaysia</p>
                       
                    </div>
                    <div class="contact-details">
                        <p>+1-9087879008</p>
                    </div>
                </div> -->
                <div class="col" id="company">
                  
                    <h2>Web Ninja <br> Studio®</h2>
                    <div class="social">
                        <a href="" id="fb"><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer></div></div></div>
</body>
</html>



